.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.87);
	background-color: #f4e041;
	border-radius: 80px;
	border: none;
	cursor: pointer;
	width: 80px;
	font-size: 12px;
	height: 27px;
	cursor: pointer;
	&:hover {
		background-color: #ffe302;
	}
}
.disabled {
	background-color: #b4b4b4;
	cursor: default;
	&:hover {
		background-color: #b4b4b4;
	}
}
