.button {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.87);
	background-color: #f4e041;
	border-radius: 80px;
	border: none;
	cursor: pointer;
	width: 80px;
	font-size: 13px;
	height: 27px;
}
