.card__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 35px;
}
.card__show-more {
	max-width: 80px;
	margin: 0px auto;
	margin-top: 20px;
}
.card__preload {
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
