.card__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 35px;
}
.card__show-more {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.card__preload {
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.card__error {
	margin: 0px auto;
}
@media (max-width: 564px) {
	.card__list {
		padding-left: 16px;
		padding-right: 16px;
	}
}
