@font-face {
	font-family: "Nunito";
	src: url(./assets/fonts/Nunito-Regular.ttf);
}
@font-face {
	font-family: "Poppins-bold";
	src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
	font-family: "Poppins-light";
	src: url(./assets/fonts/Poppins-Light.ttf);
}
@font-face {
	font-family: "Poppins-regular";
	src: url(./assets/fonts/Poppins-Regular.ttf);
}
body {
	font-family: "Nunito";
	background-color: #f8f8f8;
}
.container {
	margin: 0px auto;
	max-width: 936px;
}
.input {
	width: 100%;
	padding: 8px;
	border: 1px solid #d0cfcf;
	border-radius: 4px;
	background-color: transparent;
	&::placeholder {
		color: #7e7e7e;
		font-size: 13px;
	}
}
.input__help-text {
	display: block;
	text-align: left;
	font-size: 10px;
	color: #7e7e7e;
	margin-left: 10px;
	margin-top: 2px;
}

/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
