.registration__form {
	max-width: 303px;
	margin: 0px auto;
	margin-top: 35px;
}
.registration__input {
	margin-top: 24px;
}
.registration__btn {
	text-align: left;
	margin-top: 16px;
}
.registration__btn-text {
	font-size: 13px;
}
.registration__btn-box {
	margin-top: 8px;
}
//input
